
@media (max-width: 1024px) {
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
        position: fixed;
        left: 0;
    }

        #menu .textoDashboard {
            position: relative;
            top: 13%;
            left: 36%;
            text-decoration: none;
        }

        #menu .selecionado {
            position: relative;
            width: 155px;
            height: 149px;
            background-color: #151A30;
            top: 13%;
        }

    .dashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu .textoEstoque {
        position: relative;
        top: 14%;
        left: 35%;
        text-decoration: none;
    }

    .estoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 41%;
    }

    #menu .textoVendas {
        position: relative;
        top: 22%;
        left: 35%;
        text-decoration: none;
    }

    .vendas {
        position: relative;
        width: 42px;
        top: 20%;
        right: 30%;
    }

    #menu .textoAnimais {
        position: relative;
        top: 25%;
        left: 35%;
        text-decoration: none;
    }

    .animais {
        position: relative;
        width: 55px;
        top: 24%;
        right: 37%;
    }

    #menu .textoBanhoetosa {
        position: relative;
        top: 27%;
        left: 35%;
        text-decoration: none;
    }

    .tesoura {
        position: relative;
        width: 41px;
        top: 27%;
        right: 55%;
    }

    #menu .textoCadastrarProduto {
        position: relative;
        top: 12%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoCadastrarFornecedor {
        position: relative;
        top: 15%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoGerenciarEstoque {
        position: relative;
        top: 16%;
        left: 4%;
        text-decoration: none;
    }

    /*QUADRADO CENTRAL*/

    .quadradoCentral {
        position: absolute;
        width: 789px;
        height: 480px;
        background-color: #212B46;
        left: 20%;
        top: 26%;
    }

    .barraDePesquisa {
        position: relative;
        top: -9%;
    }


    .produtos {
        position: relative;
        background-color: #151A30;
        width: 727px;
        height: 40px;
        left: 4%;
        top: 1%;
    }

    #categoria {
        position: relative;
        color: white;
        left: 1%;
        top: 10%;
    }

    #descricao {
        position: relative;
        color: white;
        left: 15%;
        top: 10%;
    }

    #valor {
        position: relative;
        color: white;
        left: 34%;
        top: 10%;
    }

    .custom-dark-bg {
        background-color: #151A30 !important;
    }
}


@media (min-width: 1025px) and (max-width: 1439px) {
    .custom-dark-bg {
        background-color: #151A30 !important;
    }
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
        position: fixed;
        left: 0;
    }

        #menu .textoDashboard {
            position: relative;
            top: 13%;
            left: 36%;
            text-decoration: none;
        }

        #menu .selecionado {
            position: relative;
            width: 155px;
            height: 149px;
            background-color: #151A30;
            top: 13%;
        }

    .dashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu .textoEstoque {
        position: relative;
        top: 14%;
        left: 35%;
        text-decoration: none;
    }

    .estoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 41%;
    }

    #menu .textoVendas {
        position: relative;
        top: 22%;
        left: 35%;
        text-decoration: none;
    }

    .vendas {
        position: relative;
        width: 42px;
        top: 20%;
        right: 30%;
    }

    #menu .textoAnimais {
        position: relative;
        top: 25%;
        left: 35%;
        text-decoration: none;
    }

    .animais {
        position: relative;
        width: 55px;
        top: 24%;
        right: 37%;
    }

    #menu .textoBanhoetosa {
        position: relative;
        top: 27%;
        left: 35%;
        text-decoration: none;
    }

    .tesoura {
        position: relative;
        width: 41px;
        top: 27%;
        right: 55%;
    }

    #menu .textoCadastrarProduto {
        position: relative;
        top: 12%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoCadastrarFornecedor {
        position: relative;
        top: 15%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoGerenciarEstoque {
        position: relative;
        top: 16%;
        left: 4%;
        text-decoration: none;
    }

    /*QUADRADO CENTRAL*/

    .quadradoCentral {
        position: absolute;
        width: 870px;
        height: 480px;
        background-color: #212B46;
        left: 20%;
        top: 26%;
    }

    .barraDePesquisa {
        position: relative;
        top: -9%;
    }


    .produtos {
        position: relative;
        background-color: #151A30;
        width: 800px;
        height: 40px;
        left: 4%;
        top: 1%;
    }

    #categoria {
        position: relative;
        color: white;
        left: 1%;
        top: 10%;
    }

    #descricao {
        position: relative;
        color: white;
        left: 15%;
        top: 10%;
    }

    #valor {
        position: relative;
        color: white;
        left: 34%;
        top: 10%;
    }

}

@media (min-width: 1440px) {
    .custom-dark-bg {
        background-color: #151A30 !important;
    }
    #cabecalho {
        height: 80px;
        background-color: #212B46;
    }


        #cabecalho #profileicon {
            position: relative;
            width: 50px;
            height: 50px;
            top: 18%;
            left: 90%;
        }

        #cabecalho a {
            position: relative;
            left: 80%;
            top: 30%;
        }

    #menu {
        width: 155px;
        height: 100vh;
        background-color: #212B46;
        position: fixed;
        left: 0;
    }

        #menu .textoDashboard {
            position: relative;
            top: 13%;
            left: 36%;
            text-decoration: none;
        }

        #menu .selecionado {
            position: relative;
            width: 155px;
            height: 149px;
            background-color: #151A30;
            top: 13%;
        }

    .dashboard {
        position: relative;
        width: 42px;
        top: 12%;
        right: 48%;
    }

    #menu .textoEstoque {
        position: relative;
        top: 14%;
        left: 35%;
        text-decoration: none;
    }

    .estoque {
        position: relative;
        width: 42px;
        top: 16%;
        right: 41%;
    }

    #menu .textoVendas {
        position: relative;
        top: 22%;
        left: 35%;
        text-decoration: none;
    }

    .vendas {
        position: relative;
        width: 42px;
        top: 20%;
        right: 30%;
    }

    #menu .textoAnimais {
        position: relative;
        top: 25%;
        left: 35%;
        text-decoration: none;
    }

    .animais {
        position: relative;
        width: 55px;
        top: 24%;
        right: 37%;
    }

    #menu .textoBanhoetosa {
        position: relative;
        top: 27%;
        left: 35%;
        text-decoration: none;
    }

    .tesoura {
        position: relative;
        width: 41px;
        top: 27%;
        right: 55%;
    }

    #menu .textoCadastrarProduto {
        position: relative;
        top: 12%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoCadastrarFornecedor {
        position: relative;
        top: 15%;
        left: 4%;
        text-decoration: none;
    }

    #menu .textoGerenciarEstoque {
        position: relative;
        top: 16%;
        left: 4%;
        text-decoration: none;
    }

    /*QUADRADO CENTRAL*/

    .quadradoCentral {
        position: absolute;
        width: 1025px;
        height: 678px;
        background-color: #212B46;
        left: 20%;
        top: 26%;
    }

    .barraDePesquisa {
        position: relative;
        top: -9%;
    }

    
    .produtos {
        position: relative;
        background-color: #151A30;
        width: 935px;
        height: 40px;
        left: 4%;
        top: 1%;
    }

    #categoria {
        position: relative;
        color: white;
        left: 1%;
        top: 10%;
    }

    #descricao {
        position: relative;
        color: white;
        left: 15%;
        top: 10%;
    }

    #valor {
        position: relative;
        color: white;
        left: 34%;
        top: 10%;
    }


}
