@page
@model petsSharp.Pages.cadastrarProdutoModel
@{
	Layout = null;  
}


<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar produto</title>
    <link rel="stylesheet" href="~/css/cadastro-produto.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="background-color: #151A30;">
    <header>
      <div id="cabecalho">
        <img id="profileicon" src="~/img/imagens/profileicon.png"></img>
        <a href="#" style="color: red;">Sair</a>
      </div>
    </header>
    <main>
      <div id="menu">
        <div class="selecionado"></div>
        <a1 href="#" style="color: white;">Dashboard</a1>
        <img class="dashboard" src="~/img/imagens/dashboard.png"></img>
        <a2 href="#" style="color:white;">Estoque</a2>
        <img class="estoque" src="~/img/imagens/estoque.png"></img>
        <a22 href="#" style="color: #004BE3;">Cadastrar produto</a22>
        <a23 href="#" style="color: white;">Cadastrar fornecedor</a23>
        <a24 href="#" style="color: white;">Gerenciar estoque</a24>
        <a3 href="#" style="color: white;">Vendas</a3>
        <img class="vendas" src="~/img/imagens/sales.png"></img>
        <a4 href="#" style="color: white;">Animais</a4>
        <img class="animais" src="~/img/imagens/animais.png"></img>
        <a5 href="#" style="color: white;">Banho e tosa</a5>
        <img class="tesoura" src="~/img/imagens/tesoura.png"></img>
      </div>
      <div class="quadradoCentral">
        <a1>Nome:</a1>
        <div class="quadradoNome">
          <label class="form-label"></label>
          <input type="text" class="form-control border-black" id="campoNome" style="background-color: #151A30; color:white;">
        </div>
        <a2>Categoria:</a2>
        <div class="quadradoCategoria">
          <label  class="form-label"></label>
          <input type="text" class="form-control border-black" id="campoCategoria" style="background-color: #151A30; color:white;">
        </div>
        <a3>Descrição:</a3>
        <div class="quadradoDescricao">
          <label  class="form-label"></label>
         <textarea class="form-control border-black" id="campoDescricao" rows="3" style="background-color: #151A30; color:white;"></textarea>
        </div>
        <a4>Preço unitário:</a4>
        <div class="quadradoPrecoUnitario">
          <label  class="form-label"></label>
          <input type="text" class="form-control border-black" id="campoPrecoUnitario" style="background-color: #151A30; color:white;">
        </div>
        <a5>Fornecedor:</a5>
        <div class="quadradoFornecedor">
          <label class="form-label"></label>
          <input type="text" class="form-control border-black" id="campoFornecedor" style="background-color: #151A30; color:white;">
        </div>
        <div class="quadradoConfirmar">
            <a1 href="#">Confirmar</a1>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>