@page
@model IndexModel
@{
    ViewData["Title"] = "Pagina login";
    Layout = null;
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/pagina-login.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body style="background-color: #151A30;">
    <header>
    </header>
    <main>
    <form method="post">
        <div class="quadradocentral">
            <p class="textoPetsharp">PETSHARP</p>
            <p class="textoUsuario">Usuário:</p>
            <div class="usuario">
                <input asp-for="@Model.Username" type="text"  class="form-control" id="floatingInput" style="background-color: #151A30; border-color:#151A30; color:white">
                <label for="floatingInput"></label>
              </div>
              <p class="textoSenha">Senha:</p>
              <div class="senha">
                <input asp-for="@Model.Senha" type="password" class="form-control" id="floatingPassword" style="background-color: #151A30; border-color:#151A30; color:white;">
                <label for="floatingPassword"></label>
                    <div class="entrar">
                    <button class="btn btn-success">Entrar</button>
                        
                </div>
                    @if (Model.mensagemLogin)
                    {
                          <h5 class="text-center text-danger">O usuario ou senha foram informados errados</h5>
                    }
              </div>
      
        </div>
        
    </form>
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>